a:hover{cursor:hand!important;cursor:pointer!important;}
.redish{border:dashed 1px red;}
.blue{border:dashed 1px blue;}

.relative{position:relative;}
.top-sticker{position:absolute;;top:0;z-index:100;right:2rem;background:#EE2123;color:#fff;padding:.2rem 1rem;box-shadow:2px 0px 2px rgba(0,0,0,.8)}
.top-sticker .fa{color:#fff;font-size:3rem!important;float:left;margin-top:0;}
.top-sticker .txt{float:left;}
.top-sticker .txt .cont{display:block;}
.top-sticker .txt .cont.num{font-size:1.5rem;font-weight:700}
.text-right{text-align:right}
.top-most-cont{color:#13AA9F;}
.top-most-cont a{color:#13AA9F;display:inline-block;}
.top-most-cont .cart{color:#fff;background:#13AA9F;display:inline-block;padding:.2rem .5rem;border-bottom-right-radius:.2rem;border-bottom-left-radius:.2rem;margin-left:1rem}
.prc-links a,.prc-links{color:#13AA9F;font-weight:700}
.top-most-cont .cart .fa{color:#fff;}
.prc-links .fa{margin-right:.5rem;color:#13AA9F;}
.logo{padding:0!important;height:56px!important;}
.shadow-bottom{box-shadow:0 2px 9px rgba(0,0,0,.5);position:relative;z-index:101}
.top .dark{padding-top:.5rem;box-shadow:0 2px 9px rgba(0,0,0,.3);position:relative;z-index:100}
.menu li a{padding-bottom:1rem}
.top-social{display:inline-block;float:right;}
.top-social ul{margin:0;}
.top-social ul li{display:inline-block;list-style:none;margin-left:.3rem}
.top-social ul li a{color:#fff;font-size:1.5rem;line-height:2rem;}
.top-social ul li a:hover,.top-social ul li a:focus{color:#fff;}

.home-banner .slide-desc-bg{background:none!important}
.home-banner #slider97 .slide-desc{bottom:30% !important;left: auto!important;right:18.7%!important;width:37% !important;}
.home-banner .slide-desc .slide-text{text-align:right;}
.home-banner .slide-desc .slide-text p{font-size:2rem;line-height:2.4rem;text-shadow:1px 1px #000}
.home-banner .slide-desc .slide-desc-text a.readmore,.redish.button{color:#fff;background:#FF2D16;text-transform:uppercase;display:block;border-radius:5px;float:right;line-height:2.2rem;padding:0 2rem;}
.home-banner .slide-desc .slide-desc-text a.readmore:hover,.redish.button:hover{background:#ED1502}

.newsltr .text-center .text label{text-align:center;color:#fff;font-size:1.2rem;margin-top:1.5rem;}
.newsltr .inpts{padding-top:1.5rem;padding-bottom:1rem}
.newsltr .inpts input,.newsltr .inpts button{width:100%;margin:0;height:2.5rem!important;line-height:2.5rem!important;padding:0 1rem!important;border-radius:0!important;border:none!important;}
.newsltr .inpts label{display:none}
.newsltr .inpts .btn.btn-primary{background:#4D4E4E;color:#fff;}
.newsltr .inpts .btn.btn-primary:hover,.newsltr .inpts .btn.btn-primary:focus{background:#666;color:#fff;}
.newsltr .inpts .span3{margin:0!important;padding:0!important;display:inline-block!important;}
.medium-12{display:table;width:100%;}
.mg-t-1{margin-top:1rem;}
h3.title, .video h3, .testimony h3,.pageheader h3, .page-header h3,.page-header h2, h2.itemTitle,h1.eventgallery-category-headline,h1.description{text-transform:uppercase;color:#00aa9f;font-weight:700;font-size:1.4rem;padding:0}
.page-header, .pageheader, .itemHeader{position:relative;background:none;top:0;left:0;padding-top:1rem;}
h1.eventgallery-category-headline,h1.description{position:relative;background:none;top:0;left:0;}
.inner.join{margin-bottom:0;}
.inner-cont.join{margin-top:0;}

#clockdiv{display:block;background:#00aa9f url(../images/timer.jpg);width:100%;padding:0;margin-bottom:1rem}
.events-wrap{margin:0!important;padding:0 20px;}
.clockdiv .ttl,.clockdiv .block-wrap{text-align:center;width:100%;}
.clockdiv .ttl{/*padding-top:.5rem;*/}
.clockdiv .ttl h4{color:#fff;display:inline-block;position:relative;text-transform:uppercase;font-size:1rem;font-weight:700;text-shadow:0px 1px 1px rgba(0,0,0,0.5);margin:.5rem 0}
.clockdiv .ttl h4::before,.clockdiv .ttl h4::after{content:'';display:block;width:2rem;height:2rem;position:absolute;border-top:dashed 1px rgba(0,0,0,0.5);border-left:dashed 1px rgba(0,0,0,0.5);left:-2.2rem;top:.5rem;}
.clockdiv .ttl h4::after{border-left:none;border-right:dashed 1px rgba(0,0,0,0.5);left:auto;right:-2.2rem;}
.block-wrap .blk{display:inline-block;width:20%;color:#fff;}
.block-wrap .blk span{background:#00aa9f;border-radius:5px;font-size:1.3rem;font-weight:700;padding:.5rem 0;display:block;position:relative;margin:0 .5rem .3rem;}
.block-wrap .blk .smalltext{text-transform:uppercase;font-size:.9rem;font-weight:700;text-shadow:0px 1px 1px rgba(0,0,0,0.5);}
.evt-name{background:#00aa9f;display:table;color:#fff;width:100%;margin-top:.5rem;}
.evt-name h4{margin:.6rem 0;padding:0 1rem;text-transform:uppercase;}
.nowEvent .thumbnail{padding:0;margin-bottom:1rem}
.nowEvent .thumbnail h3{background:#00aa9f;color:#fff;font-size:1rem;padding:0 .5rem;line-height:2rem;margin:0;}
.nowEvent .span7 h4{text-transform:uppercase;margin:0 0 .2rem;font-weight:700}
.nowEvent .span7 h4 a,.nowEvent .span7 h4 a:hover,.nowEvent .span7 h4 a:focus{color:#00aa9f}
.event-more{text-align:right}
.event-more a{text-transform:uppercase;color:#00AA9F;font-weight:700}
.prc-bg{background:#00aa9f;padding:1rem 1rem 0 1rem;}
.pad-t-15.prc-bg span.vidtitle{color:#fff}
#owl-videos .owl-controls{margin:0}
#owl-videos .owl-controls{width:100%;text-align:left;padding:1rem;background:#00aa9f}
.testimony{background:#CDCCCC;margin-bottom:0;padding-top:.5rem;padding-bottom:.5rem}
.testimony h3,.testimony .fa-quote-left{color:#333}
.footer{background:#333}
.footer .vidtitle,.copyright,.copyright a{color:#fff}
.footer .social a{display:inline-block;color:#fff;width:2.5rem;height:2.5rem;margin-right:.5rem;line-height:3rem;text-align:center;}
.footer ul.social li{width:auto!important;}
.footer .social a.tw{background:#55ACEE;}
.footer .social a.fb{background:#3B5998;}
.footer .social a.yt{background:#E12B28;}
.footer .social a.ig{background:#A57D60;}
.footer ul.social li .fa{margin:0}
.footer{padding:0}
.copyright{border-top:none;}

.video .owl-controls .owl-page.active span, .video .owl-controls.clickable .owl-page:hover span{background-color:#fff!important;}
.wrapping-cont{margin-top:0!important;}
.inner-banner{box-shadow:0 2px 9px rgba(0,0,0,.3);position:relative;z-index:99}
#tab_group_id{margin-bottom:1rem!important}
a.prop-name h4{font-weight:700;text-transform:uppercase;}
.det span.fa-list{float:right;margin-top:.17rem;margin-left:.2rem;}
.det:hover,.det:focus{color:rgba(255,255,255,.8)}
#map_canvas{background-size:2rem!important}
.item-page, .itemList, .contact, .itemRatingBlock, #events{margin-top:1rem;}
#events .item{margin-bottom:1rem}
.imagecount.pull-right,.imagecount.pull-right .icon-images{color:#fff!important;font-size:.8rem!important;margin-left:0!important;}
#events .item .title{font-size:1rem!important}
.box-event{height:17rem;margin-bottom:1.1rem;/*margin-left:0 !important;margin-right:.852rem;*/}
.box-event .btn.btn-micro.disabled.jgrid.hasTooltip{position:absolute;top:0;left:0;margin:0;}
.box-event .prop-desc,.box-event .prop-desc2{position:absolute;bottom:0;width:100%;background:#F5F4F4}
button#cal_field_id_img{margin-top:0;height:28px;}
#periodList{margin-top:1rem;}
#periodList a:hover,#periodList a:focus{color:#01968C;}
.tooltip.fade.top.in{background:none;box-shadow:none} 
#users-profile-ads .span2.box a{display:block;height:11rem;overflow:hidden;}
#users-profile-ads .span2.box .prop-desc a{height:auto;}
.pageheader #description h1,.pageheader #description h2,.pageheader #description h3,.pageheader #description h4,.pageheader #description h5,.pageheader #description h6{font-weight:700;font-size:1.4rem;padding:0;text-transform:capitalize;color:#333;margin-top:1rem;}
.pageheader #description ul li{line-height:1.3rem}
.video #owl-videos{padding-top:0!important;}
#next97{right:2rem!important}
#prev97{left:2rem!important}
.inner-banner{height:135px}
.owl-controls.clickable{width:100%;}
.owl-controls.clickable .owl-buttons{text-align:left;}
.menu li a{padding:10px 16px;}
.btn-primary.b2{background:#666}
.btn-primary.b2:hover.btn-primary.b2:focus{background:#777;margin-left:.5rem}

/*****************FINAL CHANGES*****************/
ul.nav-pills li.current{border-bottom:none;}
ul.nav-pills li.current a{font-weight:700;}
.greendiv{background:#E0F4F1;padding-right:1rem;padding-top:.5rem;padding-bottom:.65rem}
.greendiv.t2{padding-top:1rem;}
.greendiv .forgreendiv{margin:0;}
.greentitle{padding-right:1rem;background:#fff}
.greentitle .span12,.greentitle .span5,.greentitle .span7{padding-left:1rem}
.greentitle.t2{padding-top:1.5rem;padding-bottom:.5rem}
.greentitle.t3{padding-top:1rem;padding-bottom:1rem}
.mobile-only{display:none}
.item-page{overflow:visible!important;}
.item-page .current dd.tabs{margin-left:-20px!important;background:#E0F4F1;padding-left:20px!important;margin-right:-20px!important;padding-top:1rem!important;padding-right:20px!important;}
.pd-t-1{padding-top:1rem;}
.span2.pull-right.sign.prc-links{padding-top:2.2%;}
.testi-img-wrap{width:70%;overflow:hidden;float: right;}
.testi-img-wrap img{width:70%;overflow:hidden;float: right;}
.span6 #enq-form.pay-fields{background:#ED1F24;color:#fff}
.span6 #enq-form.pay-fields .btn.btn-primary{background-color:#fff;color:#333;}
.nowEvent h4{margin-top:0;margin-bottom:.1rem}

/*reports*/
.reportitem{ padding-bottom:10px; margin-bottom:10px; border-bottom: 1px solid #eee;}
.rtitle{ margin:0px; padding:0 0 3px 0; font-size:1.4em; font-weight:bold;}
.fullreport .rtitle{ font-size:1.6em;}
.details{ line-height:1em; font-style:italic; color:#999; display:block; margin:0 0 10px 0;}
.repdescription h2, .repdescription h3, .repdescription h4, .repdescription h5{ font-size:1.2em; font-weight:normal;}
.repdescription{}


/*Form*/
form.fabrikForm{ max-width:600px;}
form.fabrikForm legend,form.fabrikForm div.nav, .plg-display .controls{ display:none;}
form.fabrikForm .inputbox{display:block!important;width:100%!important;min-height:28px!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
form.fabrikForm .control-label {width: 200px!important; padding-top:0px!important;}
form.fabrikForm .controls {margin-left: 220px!important;}
form.fabrikForm i.icon-eye-open{ float:right; background:none!important; width:2px!important;color:#fff; position:relative; right:5px; padding-left:3px; font-style:normal!important;}
form.fabrikForm i.icon-eye-open:after{content:"*"; color:#F00;}
form.fabrikForm  .plg-display .control-label{width:100%!important; text-align:left!important; font-weight:bold; border-bottom:1px solid #CCC;}

@media only screen and (max-width:40em){
.top-social{display:block;width:100%;}
.top-social ul{padding-left:1rem;padding-bottom:1rem}
.top-sticker .fa{font-size:1.5rem!important;}
.top-sticker{box-shadow:none;top:0;right:0;border-bottom-left-radius:.2rem;}
.top-sticker .txt .cont{display:inline-block;}
.top-sticker .txt .cont.num{font-size:14px;font-weight:700}
.span7.top-most-cont.prc-links{margin-bottom:-44px;padding-top:1rem;}
.top-most-cont .cart{border-bottom-right-radius:0;border-top-left-radius:.2rem}
.span2.pull-right.sign.prc-links{text-align:right!important;padding-right:2rem}
.newsltr .text-center .text label{margin-top:1rem;}
.cmc-signup .control-group{margin-bottom:0}
.newsltr .inpts{padding-top:.5rem;padding-bottom:0}
.span10.offset1.newsltr{padding:0 1rem;}
.span10.offset1.newsltr input{width:90%;}
.block-wrap .blk span{font-size:1.5rem;margin:0 .3rem 1rem}
.nowEvent .thumbnail{background:#fff}
#djslider-loader97{padding-bottom:0!important}
.mobile-only{display:block!important;background:#fff;padding:1rem;margin-bottom:1rem;margin-top:1rem;}
.no-mobile{display:none!important;}
.greentitle .span12.text-right{padding-left:0;padding-right:1rem}
.redish.button{float:left;}
} 

@media only screen and (min-width: 40.063em){
#eventList .span4.box-event:nth-child(3n+1){margin-left:0;}
.mobile-only{display:none!important}
ul.nav-pills li{padding-bottom:.5rem;position:relative;}

} /* min-width 641px, medium screens */


@media only screen and (min-width: 768px) and (max-width: 980px){

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
// Large screens
@media only screen and (min-width: 64.063em) {} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */




