/* Add your custom css in this file */



.header-variation-one .header-top {
    background-color: #383935 !important;
    text-transform:none !important;
}

.header-variation-one .user-nav a {
    padding: 10px 8px !important;
}
.user-nav a {
    font-size: 12px;
    text-transform: none !important;
}
.header-variation-one .site-main-nav {
    background-color: #fff !important;
}
.header-variation-one .main-menu > li:hover > a, .header-variation-one .main-menu > .current-menu-item > a {
    background-color: #07AA9C !important;
    color:#fff !important;
}
.header-bottom .clearfix{
    background: #fff !important;
}
.site-main-nav .main-menu > li > a {
    text-transform: none !important;
    color:#07AA9C !important;
}
.header-variation-one .sub-menu {
    background-color: #fff !important;
}
.header-variation-one .sub-menu a {
    color: #07AA9C !important;
}

.header-variation-one .site-logo {
    padding: 5px !important;
    height: 105px !important;
    min-height: 105px !important;
}
.user-nav a {
    color: #fff !important;
}


.header-variation-one .site-logo {
    background-color: #ffffff !important;
    color: #ffffff;
}

.header-variation-one .main-menu > li > a {
    padding: 20px 25px;
}

.flexslider .slides img {
    height: 500px !important;
}
@media (max-width: 580px) {
    .flexslider .slides img {
        height: 100% !important;
    }
}

.cta .play-icon-small {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    padding-left: 40px;
}
.cta .play-icon-small::before, .cta .play-icon-small::after {
    left: 15px;
}
.alt[class*="play-icon-"]::before {
    border: 2px solid #fff;
    background-color: transparent !important;
}
.play-icon-small::before {
    width: 30px;
    height: 30px;
}
[class*="play-icon-"]::before {
    z-index: 2;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #2996cc;
}
[class*="play-icon-"]::before, [class*="play-icon-"]::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}



.site-footer {
    background:#222B2D !important;
    padding-bottom: 0px !important;
    padding-top: 20px !important;
}

.site-footer .widget-title {
    color:#1AA89F !important;
    border-bottom: 1px solid #37464C;

}

.widget {
    margin-bottom: 20px !important;
}

.copyright{
    background:#1AA89F !important;
    height: auto;
    padding:5px 5px;
}
.copyright .copyright-text{
    color:#fff !important;
    text-align: center;
}
.copyright .copyright-text a{
    color:#fff !important;

}
.fields {
    margin: 0px 0 0 10px;

}
@media (max-width: 580px) {
    .fields {
        margin: 10px 0 0 10px;

    }
    .widget_lc_taxonomy input[type="submit"] {
        margin-top: 10px !important;
        border: 0px solid !important;
        padding: 17px 10px;
        border-radius: 4px !important;
    }
}
.widget_lc_taxonomy input[type="submit"] {
    margin-top: 0px !important;
    border: 0px solid !important;
    padding: 7px 0px;
    border-radius: 4px !important;
}

.prc_online_widget{
    background:#E00B0E;
    padding:5px;
    color:#fff;
    font-weight:500;
    font-size:12px;
    border-radius:4px;

}

.even-property-skin, .row-odd .property-post-even, .row-even .property-post-odd {
    background-color: #fff;
    color: #6a7585;
}


.row-even .property-post-even {
    background-color: #10AA9D;
    color: #c0c5cd;
}
.property-post-odd .price , .property-post-even .price {
    color: #000 !important;
    font-weight: 500;
}
.btn-default{
    background-color: #07AA9C !important;
}


/*-----------------------------------------------------------------------------------*/
/* Why us styles
/*-----------------------------------------------------------------------------------*/
.prc-why-us{
    position:relative;
    text-align:center;
    background-color: #F5F5F5;
}
.prc-why-us:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}
.prc-why-us .container {
    padding: 20px 18px;
    position: relative;
    z-index: 10;
}
.prc-why-us .title {
    margin-bottom: 25px;

}
.prc-why-us .sub-title {
    margin-bottom: 35px;
    font-size: 24px;
    color: #07AA9C;
}
.prc-why-us .image-wrapper {
    margin-bottom: 25px;
}

.prc-why-us .icon {

    color:#50B848;
    border:1px solid #50B848;
    padding:15px;
    border-radius:75%;
}
.prc-why-us-header {
    margin-bottom: 0px;
}
.prc-why-us-header p {
    font-size: 15px;
}
.prc-why-us-placeholders {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 42px;
    background: #fff;
    padding: 20px !important;
    border-radius: 4px;

}
.prc-why-us-placeholder {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid aliceblue;
}
.prc-why-us-placeholder:last-child{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 0px solid aliceblue;
}

.prc-why-us-title {
    margin-bottom: 25px;
}
@media (max-width: 767px) {
    .prc-why-us {
        margin: 0 0;
    }
    .prc-why-us-placeholder {
        padding-left: 20px;
        padding-right: 20px;
        border-right: 0px solid aliceblue;
    }
}
@media (max-width: 580px) {
    .prc-why-us .container {
        padding: 50px 25px;
    }
    .prc-why-us-placeholder {
        margin-bottom: 30px;
    }
    .prc-why-us-title {
        margin-bottom: 15px;
    }
    .btn-large {
        padding: 16px 15px;
        font-size: 14px;
    }
}

/*-----------------------------------------------------------------------------------*/
/* PRC Featured Properties Index Page Styles
/*-----------------------------------------------------------------------------------*/
.featured-properties-three {
    background-color: #fff;
}
.featured-properties-three {
    padding-top: 50px;
    padding-bottom: 0px;
}

.featured-properties-three .section-title {
    margin-bottom: 35px;
    font-size: 24px;
    border-bottom: 1px solid #e9e9ea !important;
    color: #07AA9C;
    text-transform: uppercase;
}


.img-responsive-featured
{
    display: block;
    width: 347px !important;
    height: 275px !important;

}
.featured-properties-three .filter-tabs
{
    margin-top:-77px;
}
.nav-tabs {
    border-bottom: 1px solid #07AA9C;
}
.nav-tabs > li.active > a
{
   border: 1px solid #07AA9C;
    border-bottom-color: transparent;
}

.pointer-detail {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -15px;
    border: 25px solid transparent;
    border-top-width: 25px;
    border-top-style: solid;
    border-top-color: transparent;
    border-top: 15px solid #fff;
    background: #07AA9C;
}
.call-action{
    background:#FFFFFF !important;
    height: auto;
    padding:5px 5px;
    margin-bottom:-10px !important;
}
.row-odd .property-post-odd
{
    background-color: #07AA9C !important;
}
.row-odd .property-post-odd p, .row-even .property-post-even p {
    color: #ffffff !important;
}

.property-post-odd .btn-outline
{
    border:1px solid #FFF;
    color:#FFF;
    float: right;
}
.property-post-even .btn-outline
{
    border:1px solid #07AA9C;
    color:#07AA9C;
    float: right;
}
.property-post-even hr
{
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #07AA9C;

}
.property-post-odd hr
{
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #ffffff;

}
.property-listing-one .property-description {
    padding: 22px 15px 0;
}
.property-listing-one .property-description:before {
    border-color: transparent #07AA9C transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    content: "";
    position: absolute;
    top: 50%;
    z-index: 10;
    left: -30px;
}



/*-----------------------------------------------------------------------------------*/
/* M-Ploti Index Page Styles
/*-----------------------------------------------------------------------------------*/


.prc-mploti{
   position:relative;
    margin-top:0px;
    margin-bottom:0px;
    width:100% !important;
    max-width:100% !important;
    height: 350px;
}

.prc-mploti:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
background: rgba(0,0,0,0.3);
}
.prc-mploti .container {
    padding: 20px 18px;
    position: relative;
    z-index: 10;

}

.prc-mploti .prc-mploti-title
{
    /*text-transform: uppercase;
    font-weight: 800;*/
    color: #fff;
    font-size: 38px;

}

.prc-mploti p
{

    color: #fff;
    font-size: 18px;
}
.prc-mploti .content-placeholders
{

    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 42px;

}
 .prc-mploti .content-placeholder
 {
     padding-left: 120px;
     padding-right: 20px;
     margin-top: 50px !important;
 }

.prc-mploti .call-to-action {
    display: block;
    background: rgba(255,255,255,0);
    -pie-background: rgba(255,255,255,0);
    border-style: none;
    behavior: url(/PIE.htc);
    border-radius: 0px;
    left: 757px;
    top: 5px;
    z-index: 3;
    position: absolute;
}
#call-to-action-image-29 {
    display: block;
    background: rgba(255,255,255,0);
    -pie-background: rgba(255,255,255,0);
    left: 54px;
    top: 0px;
    z-index: 4;
    position: absolute;
}
#call-to-action-image-29 .call-to-action-image-container {
    border-style: none;
    behavior: url(/PIE.htc);
    border-radius: 0px;
    width: 100%;
    height:auto;
}

.call-to-action-image-container img
{
    width: 220px;
    height: 380px;

}


/*-----------------------------------------------------------------------------------*/
/* Awards Index Page Styles
/*-----------------------------------------------------------------------------------*/


.prc-awards{
    position:relative;
    margin-top:0px;
    margin-bottom:0px;
    width:100% !important;
    max-width:100% !important;
    height: auto;
    text-align: center;
}

.prc-awards:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background:#ffffff;
}
.prc-awards .container {
    padding: 20px 18px;
    position: relative;
    z-index: 10;

}

.prc-awards .prc-awards-title
{
        color: #07AA9C;
    font-size: 18px;
    margin-top: 25px;
}
prc-awards p
{
    color: #000;
    margin: 0px !important;
}
prc-awards h3
{
    margin-bottom: 0px !important;
}


.prc-awards .section-header{
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 20px;
}
prc-award .describe
{
    text-align: left !important;
}
.prc-awards .section-title{
    text-transform: uppercase;
    color: #07AA9C;
    border-bottom: 1px solid #e9e9ea;

}

.prc-awards-carousel-nav {
    position: absolute;
    top: 2px;
    right: 0;
}
.prc-awards-carousel-nav .prev, .prc-awards-carousel-nav .next {
    height: 28px;
}
.prc-awards-carousel-nav .arrow-container {
    width: 28px;
    height: 28px;
}
.prc-awards-placeholder:first-child
{
    margin-top: 50px !important;
}
 .prc-awards-placeholder
 {
     padding-left: 20px;
     padding-right: 20px;
   /*margin-top: -40px;*/

}



 .prc-awards-placehoder p
 {
     color: #000 !important;
 }
prc-awards-placeholder .image-wrapper{
    width: 235px;
    height: 100px !important;

}

.submit-property-one {
    color: #444444 !important;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;

}

             .star-ratings-sprite {
                 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
                 font-size: 0;
                 height: 21px;
                 line-height: 0;
                 overflow: hidden;
                 text-indent: -999em;
                 width: 110px;
                 margin: 0 auto;
             }

.rating {
     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
     background-position: 0 100%;
     float: left;
     height: 21px;
     display:block;
 }

.icon-boxes.modern.left {
    padding-left: 65px;
}
.icon-boxes.modern {
    margin-bottom: 65px;
}
.icon-boxes.modern {
    margin-bottom: 40px;
}
.icon-boxes.top-left, .icon-boxes.left {
    text-align: left;
}

.icon-boxes.modern.left .img-holder, .icon-boxes.modern.right .img-holder {
    width: 57px;
    margin-right: 15px;
}
.icon-boxes.modern .img-holder {
    display: inline-block;
    width: 120px;
    height: 90px;
    margin: 0 0 30px 0;
}
.icon-boxes.left .img-holder {
    float: left;
    margin: 0 10px 0 0;
}
.icon-boxes .img-holder {
    float: left;
    margin-right: 25px;
}
.icon-boxes .img-holder {
    margin: 0 0 15px;
}
.icon-boxes .img-holder {
    margin: 0 0 40px 0;
}
.icon-boxes.top-left, .icon-boxes.left {
    text-align: left;
}
.icon-boxes.modern.left .img-holder ~ .text-holder {
    padding: 0 0 0 30px;
}


div.hr {
    width:100%;
    height: 1px;
    background: #07AA9C;
}
div.hr:after {
    content:'y';
    position: relative;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #07AA9C transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 8px;
    left: 35%;
}
div.hr:before {
    content:'y';
    position: relative;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #07AA9C transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 9px;
    left: 35%;
}

.page-head-content {
    padding-top: 35px;
    padding-bottom: 35px;
}



.single-property-slider .entry-header-image {
    position: relative;
    width: 100%;
}
.single-property{
background-color: #F5F5F5;
}
.single-property .wrap{
    background-color: transparent;
}
.single-property .contentx .large-9 {
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.single-property .contentx .large-9 {
    width: 100%;
    margin-top: 20px;
}
.single-property .large-9 {
    width: 100%;
    margin-top: 20px;
}
.single-property .container {
    position: relative;
    z-index: 10;
    padding: 0px !important;
}

.single-property .column, .single-property .columns {
    position: relative;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.single-property .post .entry-header {
    overflow: visible;
}
.singular .post .entry-header, .singular-listing .post .entry-header {
    width: 100%;
}
.single-property .property .entry-header, .single-property .property .entry-header {
    width: 100%;
    margin-bottom: 34px;
}
.single-property .post .entry-header, .single-property .post .entry-header {
    width: 100%;
}
.single-property .post .entry-header, .single-property .post .entry-header {
    display: block;
    zoom: 1;
    vertical-align: top;
    width: auto;
}
.single-property .entry-header-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-bottom: 0px;
    width: 100%;
    display: inline-block;
}
.single-property .entry-header-left {
    width: 68%;
}
.single-property .entry-header-left .spt-left {
    float: left;
    max-width: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 10px;
}

.single-property .entry-header-left .spt-left h1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin-right: 10px;
}
.single-property .entry-header-left .spt-left .property_rating {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 9px 0;
}
.star-rating-on a::before, .rating-on, .single_rating i.rating-on, .comments_rating i.rating-on, .rating i.rating-on, .fa-star-half.rating-half-on {
    color: #149c4a;
}
.single_rating i.rating-on, .comments_rating i.rating-on, .rating i.rating-on {
    color: #F0B74A;
}
.single_rating i, .comments_rating i, .rating i {
    font-size: 1rem;
}
.single_rating i, .rating i, .map_rating i {
    margin-right: 2px;
}
.single_rating i, .comments_rating i, .rating i {
    font-size: 14px;
}
.rating-on {
    color: #F0B74A;
}
.rating-off, .rating-on {
    color: #ccc;
    position: relative;
    margin-right: 2px;
}

.single-property .entry-header-left p.address {
    font-size: 16px;
}
.single-property .entry-header-left p.address, .single-property .entry-header-left p.address {
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
}
.single-property .spt-right{
    float: right;
}

.single-property .entry-header-right {
    margin-top: 0px;
}
.single-property .entry-header-right {
    float: right;
    clear: none;
    margin-top: 0px;
}
.single-property .entry-header-right .property-price {
    color: #07AA9C;
    display: flex;
    align-items: center;
    font-size: 28px;
}


.single-property .entry-content {
    clear: both;
    float: left;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}


.single-property .claim-post-wraper {
    margin-bottom: 0px !important;
    float: none;
    width: 100%;
}

.single-property .claim-post-wraper ul {
    list-style: none;
    margin: 0;
}
.single-property ul {
    padding-left: 0;
}

.single-property .claim-post-wraper ul li:first-child {
    margin-right: 13px;
}
.single-property  .claim-post-wraper ul li:first-child {
    margin-right: 4px;
}
.single-property  .claim-post-wraper ul li {
    margin-right: 10px;
}
.single-property  .claim-post-wraper ul li {
    position: relative;
    margin-right: 1px;
}
.single-property  .claim-post-wraper ul li {
    display: inline-block;
}
.single-property .claim-post-wraper ul li {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    margin-right: 25px;
    margin-left: 0;
    margin-bottom: 15px;
}
.single-property .claim-post-wraper > ul > li > a,.single-property .claim-post-wraper > ul > li > .calendar > a {
    border: 1px solid rgba(0, 0, 0, 0.09);
    font-weight: normal;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}
.single-property .claim-post-wraper ul li a {
    display: block;
    background: 0 0;
    border: none;
    border-radius: 4px;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666;
    font-weight: 400;
    line-height: normal;
    outline: 0;
    padding-top: 20px !important;
    margin: 0 0px 0 0;
}
.single-property  .small_btn {
    padding: 5px 12px;
}
.single-property .claim-post-wraper ul li a{
    background-color:transparent;
    background-image: none;
    border: 0px solid rgba(0, 0, 0, 0.09);
}


.single-property .large-3 {
    width: 100%;
  /*  margin-left: 2.8%;*/
    margin-top: 0px;
}
.single-property-slider img
{
    width: 100%;
    height: 408px;
}
@media (max-width: 768px) {
    .single-property-slider img
    {
        width: 100%;
        height: auto;
    }
}
.property-single-content .lSSlideOuter .lSPager li.active img {
    border-color: #ffffff;
}
 .single-property .mtl{
     margin-top: 10px;
 }
.single-property .typeWeightNormal {
      font-weight: 400 !important;
  }
.single-property .typeDeemphasize, .single-property .typeLowlight {
    color: #869099;
}
.single-property .h5
{
font-size: 16px;
    font-weight: 400;
}

.single-property .meta-icon-container {
    float: left;
    width: 18px;
    height: 18px;
    margin: 6px 10px 6px 0;

}

.single-property .meta-icon {
    fill: #07AA9C !important;
}
.single-property hr {
    margin-top: 0px;
    margin-bottom:0px;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #eeeeee;
}

.single-property .panel-default
{
    background: none !important;
    border: 0px solid #e9e9ea;
}
.single-property .panel-default> .panel-heading{
    background: none !important;
}
.single-property .panel{
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;

}
.single-property .panel-title
{
    font-weight: 700;
    font-size: 24px;
}
.single-property .panel-title p{
    font-size: 14px;
}
.single-property .panel-title .typeWeightNormal {
    font-weight: 400 !important;
}
.single-property .panel-title .typeDeemphasize, .single-property .panel-title .typeLowlight {
    color: #869099;
}
/*
Installment Repayment Calculator
 */
.single-property .boxBasic, .single-property .boxHighlight, .single-property .dropdownBoxHighlight, .single-property .subdropdownBox {
    border: 1px solid #e8e9ea;
    border-radius: 4px;
}
.single-property .backgroundLowlight {
    background-color: #f5f6f7;
}
.single-property .phm {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.single-property .pvl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.single-property .box {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.single-property .box .boxBody {
    padding: 0 20px;
}
.single-property .mdCol6 {
    width: 30%;
    float:left;
    margin: 10px;
}

.single-property .field__field-wrapper___3Yuqt {
    width: 100% !important;
    max-width: 100% !important;
    display: inline-block !important;
}
.single-property .numeric__numeric-input___BTy3L {
    display: flex !important;
    width: 100% !important;
}

.single-property .input-group-addon {
    padding: 2px 6px;
    background-color: #fff;

}
.single-property .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.single-property .input-sm, .single-property .input-group-sm > .form-control, .single-property .input-group-sm > .input-group-addon, .single-property .input-group-sm > .input-group-btn > .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.single-property .form-control:focus {
    border-color: #98cbe8;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
}
.single-property .form-control {
    display: block;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-top-color: rgb(204, 208, 210);
    border-right-color: rgb(204, 208, 210);
    border-bottom-color: rgb(204, 208, 210);
    border-left-color: rgb(204, 208, 210);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.single-property input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.single-property input {
    line-height: normal;
}
.single-property button,.single-property input, .single-property optgroup,.single-property select, .single-property textarea {

    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin-bottom: 0px;
}


.single-property .nav-tabs{
    background-color: #f5f5f5;
    border: 0px solid !important;
    text-align: center;
}

.single-property .nav-tabs li{
    float: left;
    padding-bottom: 15px;
    padding-top: 25px;
    width: 20%;
    border: 1px solid #e3e6e7;

}
.single-property .nav-tabs >li>a:hover
{
    color: inherit;
    cursor: pointer;
    background:none;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    padding-bottom: 12px !important;
}
.single-property .nav-tabs > li.active > a,.single-property .nav-tabs > li.active > a:hover,
.single-property .nav-tabs > li.active > a:focus {
    color: inherit;
    cursor: pointer;
    background:none;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    padding-bottom: 12px !important;
}
.single-property .nav-tabs > li.active > a {
    border: 0px solid #07AA9C;
    border-bottom-color: rgb(7, 170, 156);
    border-bottom-color: transparent;
}
.single-property .nav-tabs li.active::before {
    background: #07AA9C none repeat scroll 0 0;
    bottom: 0;
    content: " ";
    height: 3px;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
}

.single-property .nav-tabs li.active::after {

    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 20px solid transparent;
    border-right-width: 20px;
    border-left-width: 20px;
    border-top-color: transparent;
    border-left-width: 30px;
    border-right-width: 30px;
    border-top-color: #f5f5f5;
    margin-left: -30px;

}
.single-property .tab-content {
    display: none;
    background: none;
    padding: 15px;
    margin-top: 20px;
}
.slider-thumbnail-nav-wrapper {
    position: absolute;
    bottom:280px;
     margin:0px;
    width: 100%;
    text-align: center;

}
@media (max-width: 768px) {
    .slider-thumbnail-nav-wrapper
    {
        display: none;
    }

}
.lSSlideOuter .lSPager.lSGallery {

margin:0px auto;

}
.lSSlideOuter .lSPager.lSGallery li{
    border-radius: 0px;
    border: 5px solid #FFF;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0px;
    border: 5px solid #07AA9C;
}

.property-logo img{
    width: 100px;
    margin-top: 15px;
}

/*
End of Calculator
 */

/*------------------------------*
New Mploti
 */

.new-mploti{
    position:relative;
    margin-top:20px;
    margin-bottom:0px;
    height: auto;
    background-color: #f5f5f5 !important;

}


.new-mploti .container {
    padding: 20px 18px;
    position: relative;
    z-index: 10;
}

.new-mploti .bg-gray {
    background-color:#f5f5f5;
}
.new-mploti .z1 {
    z-index: 1;
}
.new-mploti .relative {
    position: relative;
}
.new-mploti .pb6 {
    padding-bottom: 5rem;
}
.new-mploti .z2 {
    z-index: 2;
}
.new-mploti .mx-auto {
    margin-left: auto;
}
.new-mploti .mr-auto, #new-mploti .mx-auto {
    margin-right: auto;
}

.new-mploti .px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.new-mploti .red {
    color: #07AA9C;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9ea;
    padding-bottom: 5px;
}
.new-mploti .mb4 {
    margin-bottom: 2rem;
}
.new-mploti .mt0 {
    margin-top: 0;
}

.new-mploti .h2, #new-mploti .h3 {
    line-height: 1.2;
}
.new-mploti .h2 {
    font-size: 2.25rem;
}
.new-mploti .py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.new-mploti .slate {
    color: #282c36;
    font-weight: 600;
}
.new-mploti .mb1 {
    margin-bottom: .5rem;
}
.new-mploti .mt0 {
    margin-top: 0;
}
.new-mploti .h3{
    font-weight: 800;
}
.new-mploti .border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #e9e9ea;
}
.new-mploti .py3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.new-mploti .mt3 {
    margin-top: 1.5rem;
}
.new-mploti .mt3 a {
    color: #ef3934;
    text-decoration: none;
}

.new-mploti .md-px6 {
    padding-right: 5rem;
}
.new-mploti .md-pl6, #new-mploti .md-px6 {
    padding-left: 8rem;
}

.new-mploti img {
    width: 100%;
    height: auto;
    position: relative;
}


.testimony {
    position:relative;
    margin-top:0px;
    margin-bottom:0px;
    height: auto;
    background: -webkit-linear-gradient(top,#f6f6f7 50%,#fff 0,#fff);
    background: linear-gradient(180deg,#f6f6f7 50%,#fff 0,#fff);
}
.testimony .rounded {
    border-radius: 2px;
}
.testimony .mx-auto {
    margin-left: auto;
}
.testimony .mr-auto, .mx-auto {
    margin-right: auto;
}
.testimony .container {
    padding: 20px 18px;
    position: relative;
    z-index: 10;
}
.testimony .shadow {
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}
.testimony .mxn6 {
    margin-left: -5rem;
    margin-right: -5rem;
}
.testimony .overflow-hidden {
    overflow: hidden;
}
.testimony .bg-slate {
    background-color: #282c36;
}
.testimony .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.testimony .bg-quote-red {
    background: -webkit-linear-gradient(170deg,transparent 80px,#07AA9C 0,#07AA9C);
    background: linear-gradient(-80deg,transparent 80px,#07AA9C 0,#07AA9C);
}
.testimony .col-6 {
    width: 50%;
}
.testimony .p6 {
    padding: 5rem;
}
.testimony .mb5 {
    margin-bottom: 3rem;
}
.testimony blockquote {
    margin: 0;
    margin-bottom: 0px;
    background-color: none !important;
    border-color: #0dbae8;

}

.testimony .white {
    color: #fff;
}
.testimony .mb2 {
    margin-bottom: 1rem;
}
.testimony .m0 {
    margin: 0;
    margin-bottom: 0px;
}
.testimony .caps {
    text-transform: uppercase;
    letter-spacing: .125rem;
}
.testimony .h3 {
    font-size: 24px;
    font-weight: 600;
}
.testimony .h2, .testimony .h3 {
    line-height: 1.2;
}

.testimony .h4{
    font-weight: 600;
}
blockquote {
    background: none !important;
    border-color: #fff;
    margin: 0px 0;
    padding: 0px 0px 0px 0px;
    padding: 0px 0px;
    margin: 0 0 0px;
    font-size: 14px !important;
    border-left: none !important;
    border-left-color:#ffffff;
}
blockquote::before {
    content: "";
}
blockquote p {
    color: #ffff !important;
}

.testimony .slate{
    color:#282c36;
}
.testimony cite {
    font-style: normal;
}
.testimony .btn-outline {
    border-radius: 2px;
}
.testimony .btn-outline, .testimony .btn-outline:hover {
    border-color: currentcolor;
}


.sub-nav {
    position: relative;
    width: 100%;
    z-index: 2;
    max-width: 1680px;
    min-height: 60px;
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

.sub-nav:before, .sub-nav:after {
    content: " ";
    display: table;
    width: 100%;
    clear: both
}

.sub-nav a {
    display: block;
    margin-right: 20px;
    font-size: 11px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #5f6a7d
}

@media (min-width: 718px) {
    .sub-nav a {
        display: inline-block
    }
}

.sub-nav a:hover, .sub-nav a:focus {
    color: #2586b7
}

.sub-nav a:active {
    color: #2077a2
}


.sub-nav a.secondary {
    display: none
}

@media (min-width: 718px) {
    .sub-nav a.secondary {
        display: inline-block
    }
}

@media (min-width: 718px) {
    .sub-nav a.prompt-link {
        display: none
    }
}

.sub-nav .actions {
    float: right;
    position: relative;
    z-index: 2
}

.sub-nav .actions a {
    line-height: 60px
}

.sub-nav .destinations {
    padding: 0 0 10px;
    position: absolute;
    left: 0;
    bottom: 61px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
}

.no-touch .sub-nav .destinations {
    top: 61px;
    bottom: auto;
    border-top: none;
    border-bottom: 1px solid #e0e0e0
}

.show-time .sub-nav .destinations {
    -webkit-transition: visibility 0s 300ms, opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: visibility 0s 300ms, opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: visibility 0s 300ms, opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition: visibility 0s 300ms, opacity 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out
}

.sub-nav-menu-active .sub-nav .destinations {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: visibility 0s 0s, opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: visibility 0s 0s, opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: visibility 0s 0s, opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition: visibility 0s 0s, opacity 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out
}

@media (min-width: 718px) {
    .sub-nav .destinations {
        border: none;
        padding: 0;
        -webkit-transition: none;
        transition: none;
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        position: relative;
        background-color: transparent;
        bottom: 0
    }

    .no-touch .sub-nav .destinations {
        top: 0;
        bottom: auto;
        border: none
    }
}

.sub-nav .destinations a {
    display: block;
    width: 100%;
    margin-top: 10px;
    line-height: 30px
}
.sub-nav .destinations .active {
    margin-top: 0;
    display: inline-block;
    line-height: 60px;
    width: auto;
    border-bottom:2px solid #07AA9C;
}

@media (min-width: 718px) {
    .sub-nav .destinations a {
        margin-top: 0;
        display: inline-block;
        line-height: 60px;
        width: auto
    }
}

.sub-nav.sub-nav-fixed {
    top: 0;
    display: none
}

.sub-nav-fixed-top .sub-nav.sub-nav-fixed {
    display: block
}

.sub-nav:not(.sub-nav-fixed) {
    bottom: 0
}

.no-touch .sub-nav:not(.sub-nav-fixed) {
    position: relative;
    bottom: auto
}

.sub-nav-fixed-top .sub-nav:not(.sub-nav-fixed) .destinations {
    display: none
}
.sub-nav a.primary span {
    border: 1px solid #07AA9C;
    color: #07AA9C;
}
.sub-nav a.primary span {
    -webkit-transition: border-color 150ms ease-in-out,background-color 150ms ease-in-out,color 150ms ease-in-out;
    transition: border-color 150ms ease-in-out,background-color 150ms ease-in-out,color 150ms ease-in-out;
}
.sub-nav a.primary span {
    display: inline-block;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 14px;
}


/***
HEADER CUSTOMIZED FOR LAND & HOUSING PAGES
 */
.header-column-custom
{
    width: auto;
}

.header-column-custom .site-logo
{
    display: inline-block;
    width: auto;
    min-height: 0px !important;
    height: auto !important;
    padding-top:5px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    margin-top: 0px;
}
.header-column-custom img
{
    width:200px;
}


.header-column-custom .site-main-nav
{
    width:80%;
    float:right;
    display: inline-block;
}

.property-location-section {
    margin-bottom: 40px;
    border: 1px solid #e9e9ea;
    padding: 10px;
    border-radius: 4px;
}
.fancy-title {
    color: #07AA9C;
    border-bottom: 1px solid #e9e9ea;
}
.fancy-title::after {
    background:none !important;
}
.fancy-title::after {
    content: '';
    display: block;
    width: 21px;
    height: 3px;
    margin: 3px 0 0 2px;
}

.brand-testimonials{
    position:relative;
    margin-top:20px;
    margin-bottom:0px;
    width:100% !important;
    max-width:100% !important;
    height: auto;
       border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: #e0e0e0 !important;
    background-color: #fafafa !important;
    padding:30px;

}

.brand-testimonials .container{
    padding: 20px 18px;
    position: relative;
    z-index: 10;
}

.brand-testimonials .carousel-caption {
    left: 10%;
    right: 10%;
    padding-bottom: 10px;
}
.brand-testimonials .white, .brand-press .link-btn.white {
    color: #ffffff !important;
}
.brand-testimonials .white {
    color: #ffffff !important;
}
.brand-testimonials .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.brand-testimonials .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.brand-testimonials .text-center {
    text-align: center;
}
.brand-testimonials .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.brand-testimonials .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.brand-testimonials p.testimonial {
    font-size: 26px;
}
.brand-testimonials p.testimonial-by {
    font-size: 18px;
}
.brand-testimonials .row-cta-container {
    padding: 20px 30px 0;
}

.brand-testimonials .row-cta {
    margin-bottom: 40px;
    border-bottom: solid 1px #cccccc;
    padding: 0 15px 40px;
}
.brand-testimonials .row-cta-container .row {
    margin-top: 30px;
}
.brand-testimonials .row.img-text {
    margin-bottom: 0 !important;
}
.brand-testimonials .noborder {
    border: 0 !important;
}
.brand-testimonials .row-cta-container .btn {
    margin-top: 30px;
    border-radius: 0;
    padding: 8px 20px;
    border: solid 1px #4e4e4e;
    background: transparent;

}
.mobile{
    display: none;
}
@media (max-width: 768px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

.sprite-icon-tag {
    width: 46px;
    height: 46px;
    background-position: -360px -299px;
}

.sprite-icon-people {
    width: 57px;
    height: 43px;
    background-position: -5px -314px;
}
.sprite-icon-key {
    width: 60px;
    height: 28px;
    background-position: -5px -202px;
}


.sprite, .social-login a, .social-login a[href^="http:"], .social-link .link-panel a, .social-link .link-panel a[href^="http:"], .rui-icon-search-lrg {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

/*
Brand Press
 */

.brand-press
{
padding: 0 30px;
    background-color: #ffffff !important;
    width: 100%;
    position: relative;
}
.brand-press .container
{
    padding: 20px 18px;
    position: relative;
    z-index: 10;
}
.brand-press .carousel-caption {
    left: 10%;
    right: 10%;
    padding-bottom: 10px;
}
.brand-press .white, .brand-press .link-btn.white {
    color: #ffffff !important;
}
.brand-press .white {
    color: #ffffff !important;
}
.brand-press .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.brand-press .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.brand-press .text-center {
    text-align: center;
}
.brand-press .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}
.brand-press .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.brand-press p.testimonial {
    font-size: 26px;
}
.brand-press p.testimonial-by {
    font-size: 18px;
}
.brand-press .row-cta-container {
    padding: 20px 30px 0;
}

.brand-press .row-cta {
    margin-bottom: 40px;
    border-bottom: solid 1px #cccccc;
    padding: 0 15px 40px;
}
.brand-press .row-cta-container .row {
    margin-top: 30px;
}
.brand-press .row.img-text {
    margin-bottom: 0 !important;
}
.brand-press .noborder {
    border: 0 !important;
}
.property-contact-form {
    margin-bottom: 40px;
    border: 1px solid #e9e9ea;
    padding: 10px;
    border-radius: 4px;
}
.property-contact-form .form-control {
    border: 1px solid #e9e9ea !important;
    margin: 10px auto;
}
/*
Modal Login/Register/Forgot Password Designs
 */
.modal-dialog{
    background: #ffffff;
    border-radius: 4px;
}

.form-heading
{
    border-bottom: 1px solid #e9e9ea;
}

.login-form-input {
    background-color: #ffffff;
    border: 1px solid #e9e9ea;
}
.login-form-submit {
    background-color: #07AA9C;
}


/*
New Login
 */
form.ajax-auth{

    z-index: 999;
    position: fixed;
    top: 0px;
    left: 50%;
    width: auto;
    margin-left: -200px;
    padding: 40px 25px 25px 25px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: #878787;
    font-size: 11px;
}

.ajax-auth h1, .ajax-auth h3{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #333333;
    line-height: 1;
}

.ajax-auth h1{
    font-size: 27px;
    text-align: center;
    margin: 0 0 20px 0;
}

.ajax-auth h3{
    font-size: 18px;
    text-align: left;
    margin: 0;
}

.ajax-auth h3 a{
    color: #e25c4c;
}

.ajax-auth hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
}

.ajax-auth input#username,
.ajax-auth input#password,
.ajax-auth input#signonname,
.ajax-auth input#email,
.ajax-auth input#signonpassword,
.ajax-auth input#password2{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 325px;
    margin: 7px 0 20px 0;
    background-color: #F9F9F9;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus,
.ajax-auth input#password2:focus{
    background-color: #FFF;
}

.ajax-auth label.error{
    display: none !important;
}

.ajax-auth input.error{
    border: 1px solid #FF0000 !important;
}

.ajax-auth input.submit_button{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

.ajax-auth a{
    text-decoration: none;
}

.ajax-auth a.close{
    color: #DCDCDC;
    position: absolute;
    right: 15px;
    top: 15px;
}

.ajax-auth a.text-link{
    color: #B4B2B2;
    float: left;
    margin: 10px 0 0 0;
}

.ajax-auth p.status{
    text-align: center;
    margin: -15px 0 20px 0;
    font-weight: 600;
    display: none;
}

a.login_button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 7px 5px 7px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}


.site-pages {
    padding-top: 0px;
    padding-bottom: 120px;
    overflow: hidden;
}

/*
Customer Experience Pages-CID,Payment,Checkout
 */

.desk-progress-bar {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #e9e9ea;
}
.desk-progress-bar {
    display: block;
    background: #FFF;
    width: 100%;
}
.desk-progress-bar .progress-bar-inner {
    max-width: 950px;
    margin: auto;
}
.desk-progress-bar .progress-bar-inner .navbar-header {
    position: absolute;
    z-index: 1;
    float: left;
}

.desk-progress-bar .progress-bar-inner .navbar-brand {
    width: 100px;
    padding: 10px 10px;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;

}
.desk-progress-bar .progress-bar-inner .navbar-brand img {
    width: 120px;
    height: 30px;
    margin-left: -60px;
    margin-top: 10px;
}

.desk-progress-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 950px;
}
.desk-progress-bar ul li {
    text-transform: uppercase;
    float: left;
    width: 25%;
    text-align: right;
}
.desk-progress-bar ul li a, .desk-progress-bar ul li span {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 3px solid transparent;
    padding: 21px 0 28px;
    color: #999;
}

.desk-progress-bar ul li .active {
    border-bottom: 3px solid #3fb2a0;
    color: #445e6e;
}
.desk-progress-bar ul li i {
    font-style: normal;
}


.submit-form #update-user {
    background-color: #07AA9C;

}


.white-box input[type="text"], .white-box input[type="email"], .white-box input[type="password"], .white-box input[type="number"], .white-box input[type="date"] {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    line-height: 48px;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single
{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    line-height: 48px;
    border-radius: 4px;

}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 15px;
    height: 100%;
    line-height: 35px;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 0;
    width: 30px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

/**
Add to cart
 */

.cd-add-to-cart {
    display: inline-block;
    padding:10px;
    background: #07AA9C;
    text-transform: none;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: .1em;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-top: 12px;
    cursor: pointer;
}
.cd-add-to-cart:hover {
    background: #07AA9C;
    color: #ffffff;
}
.cd-add-to-cart:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-cart-container::before {
    /* dark bg layer visible when the cart is open */
    content: '';
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
    opacity: 1;
    visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
    position: fixed;
    bottom: 20px;
    right: 5%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
}
.empty .cd-cart-trigger, .empty
.cd-cart {
    /* hide cart */
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
    .cd-cart-trigger,
    .cd-cart {
        bottom: 40px;
    }
}

.cd-cart-trigger {
    /* button that triggers the cart content */
    z-index: 3;
    height: 72px;
    width: 72px;
    /* replace text with image */
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}
.cd-cart-trigger::after, .cd-cart-trigger::before {
    /* used to create the cart/'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    background: url(../images/cd-icons-cart-close.svg) no-repeat 0 0;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, transform .2s;
    transition: opacity .2s, transform .2s, -webkit-transform .2s;
}
.cd-cart-trigger::after {
    /* 'X' icon */
    background-position: -72px 0;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open .cd-cart-trigger::before {
    opacity: 0;
}
.cart-open .cd-cart-trigger::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count {
    /* number of items indicator */
    position: absolute;
    top: -10px;
    right: -10px;
    height: 28px;
    width: 28px;
    background: #e94b35;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
    -webkit-transition: -webkit-transform .2s .5s;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.cd-cart-trigger .count li {
    /* this is the number of items in the cart */
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count li:last-of-type {
    visibility: hidden;
}
.cd-cart-trigger .count.update-count li:last-of-type {
    -webkit-animation: cd-qty-enter .15s;
    animation: cd-qty-enter .15s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
}
.cd-cart-trigger .count.update-count li:first-of-type {
    -webkit-animation: cd-qty-leave .15s;
    animation: cd-qty-leave .15s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
}
.cart-open .cd-cart-trigger .count {
    -webkit-transition: -webkit-transform .2s 0s;
    transition: -webkit-transform .2s 0s;
    transition: transform .2s 0s;
    transition: transform .2s 0s, -webkit-transform .2s 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.empty .cd-cart-trigger .count {
    /* fix bug - when cart is empty, do not animate count */
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.cd-cart-trigger:hover + div .wrapper {
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cart-open .cd-cart-trigger:hover + div .wrapper {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
    /* cart content */
    z-index: 2;
    width: 90%;
    max-width: 440px;
    height: 400px;
    max-height: 90%;
    pointer-events: none;
}
.cd-cart .wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 6px;
    -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto;
}
.cd-cart header, .cd-cart footer {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}
.cd-cart header, .cd-cart .body {
    opacity: 0;
}
.cd-cart header {
    top: 0;
    border-radius: 6px 6px 0 0;
    padding: 0 1.4em;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    -webkit-transition: opacity .2s 0s;
    transition: opacity .2s 0s;
    border-bottom: 1px solid #e6e6e6;
}
.cd-cart header::after {
    clear: both;
    content: "";
    display: block;
}
.cd-cart footer {
    bottom: 0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
}
.cd-cart h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .1em;
}
.cd-cart .undo {
    float: right;
    font-size: 1.2rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
    color: #808b97;
}
.cd-cart .undo a {
    text-decoration: underline;
    color: #2b3e51;
}
.cd-cart .undo a:hover {
    color: #2c97de;
}
.cd-cart .undo.visible {
    opacity: 1;
    visibility: visible;
}
.cd-cart .checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: #07AA9C;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    -webkit-transition: all .2s 0s;
    transition: all .2s 0s;
}
.cd-cart .checkout:hover {
    background: #07AA9C;
}
.cd-cart .checkout em {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-transition: -webkit-transform 0s .2s;
    transition: -webkit-transform 0s .2s;
    transition: transform 0s .2s;
    transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .checkout em::after {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    content: '';
    height: 24px;
    width: 24px;
    background: url(../images/cd-icon-arrow-next.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.cd-cart .body {
    position: relative;
    z-index: 1;
    height: calc(100% - 40px);
    padding: 20px 0 10px;
    margin: 40px 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.cd-cart .body ul {
    overflow: hidden;
    padding: 0 1.4em;
    position: relative;
    padding-bottom: 90px;
}
.cd-cart .body li {
    position: relative;
    opacity: 0;
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
    -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
    transition: opacity 0s .2s, -webkit-transform 0s .2s;
    transition: opacity 0s .2s, transform 0s .2s;
    transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .body li::after {
    clear: both;
    content: "";
    display: block;
}
.cd-cart .body li:not(:last-of-type) {
    margin-bottom: 20px;
}
.cd-cart .body li.deleted {
    /* this class is added to an item when it is removed form the cart */
    position: absolute;
    left: 1.4em;
    width: calc(100% - 2.8em);
    opacity: 0;
    -webkit-animation: cd-item-slide-out .3s forwards;
    animation: cd-item-slide-out .3s forwards;
}
.cd-cart .body li.deleted.undo-deleted {
    /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
    -webkit-animation: cd-item-slide-in .3s forwards;
    animation: cd-item-slide-in .3s forwards;
}
.cd-cart .body li.deleted + li {
    -webkit-animation: cd-item-move-up-mobile .3s;
    animation: cd-item-move-up-mobile .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.cd-cart .body li.undo-deleted + li {
    -webkit-animation: cd-item-move-down-mobile .3s;
    animation: cd-item-move-down-mobile .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.cd-cart .product-image {
    display: inline-block;
    float: left;
    /* the image height determines the height of the list item - in this case height = width */
    width: 50px;
}
.cd-cart .product-image img {
    display: block;
}
.cd-cart .product-details {
    position: relative;
    display: inline-block;
    float: right;
    width: 100%;
    padding: 0.3em 0 0 0.5em;
}
.cd-cart .product-details::after {
    clear: both;
    content: "";
    display: block;
}
.cd-cart h3, .cd-cart .price , .cd-cart .plot {
    font-weight: bold;
}
.cd-cart h3 {
    width: 50% !important;
    float: left;
    /* truncate title with dots if too long */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cd-cart h3 a {
    color: #2b3e51;
}
.cd-cart h3 a:hover {
    color: #07AA9C;
}
.cd-cart .price {
    float: left !important;
    width: 20% !important;
    text-align: center;
}
.cd-cart .plot {
    float: left;
    width: 20%;
    text-align: center;
}
.cd-cart .actions {
    font-size: 1.4rem;
    height: 1.6em;
    line-height: 1.6em;
    width: 10% !important;
    float:right !important;
}
.cd-cart .actions::after {
    clear: both;
    content: "";
    display: block;
}
.cd-cart .delete-item, .cd-cart .quantity {
    float: left;
    color: #808b97;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-cart .delete-item {
    margin-right: 1em;
}
.cd-cart .delete-item:hover {
    color: #e94b35;
}
.cd-cart .quantity label {
    display: inline-block;
    margin-right: .3em;
}
.cd-cart .select {
    position: relative;
}
.cd-cart .select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/cd-icon-select.svg) no-repeat center center;
    pointer-events: none;
}
.cd-cart select {
    position: relative;
    padding: 0 1em 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    margin: 0;
    color: #808b97;
}
.cd-cart select:focus {
    outline: none;
    color: #2b3e51;
    box-shadow: 0 1px 0 currentColor;
}
.cd-cart select::-ms-expand {
    /* hide default select arrow on IE */
    display: none;
}
.cart-open .cd-cart .wrapper {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.cart-open .cd-cart header, .cart-open .cd-cart .body {
    opacity: 1;
}
.cart-open .cd-cart header {
    -webkit-transition: opacity .2s .2s;
    transition: opacity .2s .2s;
}
.cart-open .cd-cart .body {
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
}
.cart-open .cd-cart .body li {
    -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
    transition: opacity .3s .2s, -webkit-transform .3s .2s;
    transition: transform .3s .2s, opacity .3s .2s;
    transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    list-style: none !important;
    border-bottom: 1px solid #e9e9ea !important;
}
.cart-open .cd-cart .body li:nth-of-type(2) {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.cart-open .cd-cart .body li:nth-of-type(3) {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
    -webkit-transition-duration: .55s;
    transition-duration: .55s;
}
.cart-open .cd-cart .checkout {
    color: #ffffff;
    -webkit-transition: color .2s .3s;
    transition: color .2s .3s;
}
.cd-cart .btn
{
    border-radius: 0px !important;
}
.cart-open .cd-cart .checkout em {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: transform .2s .3s, padding .2s 0s;
    transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.cart-open .cd-cart .checkout:hover em {
    padding-right: 30px;
}
.cart-open .cd-cart .checkout:hover em::after {
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-cart .body li:not(:last-of-type) {
        margin-bottom: 14px;
    }
    .cd-cart .body li.deleted + li {
        -webkit-animation: cd-item-move-up .3s;
        animation: cd-item-move-up .3s;
    }
    .cd-cart .body li.undo-deleted + li {
        -webkit-animation: cd-item-move-down .3s;
        animation: cd-item-move-down .3s;
    }
    .cd-cart .checkout {
        font-size: 2.4rem;
    }
    .cd-cart .product-image {
        width: 90px;
    }
    .cd-cart .product-details {
        padding: 1.4em 0 0 1em;
        width:100%;
    }
    .cd-cart h3, .cd-cart .price, .cd-cart .plot .cd-cart .actions {
        font-size: 1.8rem;
    }
}

@-webkit-keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}
@-webkit-keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
    }
}
@keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
    }
}
@-webkit-keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 70px;
    }
    100% {
        padding-top: 0px;
    }
}
@keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 70px;
    }
    100% {
        padding-top: 0px;
    }
}
@-webkit-keyframes cd-item-move-up {
    0% {
        padding-top: 104px;
    }
    100% {
        padding-top: 0px;
    }
}
@keyframes cd-item-move-up {
    0% {
        padding-top: 104px;
    }
    100% {
        padding-top: 0px;
    }
}
@-webkit-keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 70px;
    }
}
@keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 70px;
    }
}
@-webkit-keyframes cd-item-move-down {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 104px;
    }
}
@keyframes cd-item-move-down {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 104px;
    }
}
@-webkit-keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}
@keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}
@-webkit-keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}
@keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}


/*
CheckOut Page
 */
.white-box .user-profile-wrapper{
    padding: 15px !important;
    padding-bottom: 0px !important;
    background: #f8fafb url(../images/formcon-bg.png);
    border: 1px #d1e0ea solid;

}
.white-box .submit-form #save-items
{
    background-color: #07AA9C;


}

.site-pages
{
    padding-bottom: 0px !important;
}

/*My Profile Page

 */
.white-box hr
{
    margin:0px !important;
    border-top: 1px dashed #eeeeee;
}
.profile-thumb {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
}
.profile-thumb .img-circle{
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

.profile-thumb .label {
    position: absolute;
    top: 7px;
    right: -12px;
    display: block;
    background: #07AA9C;
    line-height: 12px;
    font-weight: 300;
    padding: 10px !important;
    border-radius: inherit !important;
}

.personal-info
{
    margin-top: 10px;
}
.personal-info .name
{
    font-size: 14px;
    color: #07AA9C;
    text-transform: uppercase;
    font-weight: 700;
}
.personal-info i {
color: #00acac;
font-size: 14px;
}
.personal-info .small-details{
    width:66%;
    float: left;
    font-weight: bold;
}
.personal-info .other-details{
    width:33%;
    float: right;
}
.personal-info .small-details .listItem{
    list-style: none;
   padding: 8px;
    display: inline-block;
}
.personal-info .other-details .listItem{
    list-style: none;
    padding: 5px;
    display: inline-block;
}

.personal-info .other-details .listItem i{

color:#fff;
    line-height: 31px;
    text-align: center;
    width: 31px;
    border-radius: 2px;
}

.personal-info .other-details .listItem i.fa-facebook
{
    background: #3b5998;
}
.personal-info .other-details .listItem i.fa-linkedin
{
    background: #00a0dc;;
}
.personal-info .other-details .listItem i.fa-twitter
{
    background: #439ed6;
}

.personal-info .other-details .listItem i.fa-google-plus
{
    background: #dd4b39;
}

.personal-info .btn-action

{
    padding:7px !important;
    background-color: #07AA9C;
    font-size: 12px;
    color:#fff;
    font-weight:600;
    margin:10px auto;
    border-radius: 0px !important;


}
.personal-info .left-details
{
    padding: 10px;
}
.personal-info .left-details h3
{
   margin-bottom: 0px !important;
}

.card {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05);
    box-shadow: 0 2px 1px rgba(0,0,0,.05);
    margin-bottom: 1.875rem;
    border-radius: 0;
}
.card {
    position: relative;
    display: block;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.06);
}
.card-block {
    padding: 10px;
    padding-bottom: 3px;
}
.card .card-title {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .4px;
}
.card, .card-title {
    margin-bottom: 1rem;
}
.card .card-img-top{
    height: auto;
    width: 100%;
}

.btn-outline-teal {
    border-color: #009688;
    background-color: transparent;
    color: #009688;

}
.personal-info .left-details .teal {
    color: #009688 !important;
}
.personal-info .left-details .deep-orange {
    color: #FF5722 !important;
}

.personal-info .left-details .cyan {
    color: #00BCD4 !important;
}

.personal-info .left-details .font-large-2 {
    font-size: 3rem !important;
}
.personal-info .left-details .media-left {
    padding-right: 2px;
}
.media-middle {
    vertical-align: middle;
}
.personal-info .btn-outline-info {
    border-color: #07AA9C;
    background-color: transparent;
    color: #3BAFDA;
}

.single-property .btn-outline-primary {
    color: #FF0000;
    background-image: none;
    background-color: transparent;
    border-color: #FF0000;

margin-bottom: 10px;
}
.single-property h1{
    margin-bottom: 0px !important;
}
/*
Personal Info Nav Tabs
 */
.white-box .nav-tabs
{
    border: 0px;
    border-radius: 50%;
}
.white-box .nav-tabs > li >a{
    padding: 5px 15px;
}
.white-box .nav-tabs > li.active > a {
    border:1px groove #07AA9C;
    padding: 5px 15px;
    color: #FF5722;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

/*Property Attachment*/
.property-attachments-list .fa-file-pdf-o{
 color: #FF0000 ;
}



/*
New User Profile Designs
 */

.user-profile{
    position: relative;
    padding: 70px 0px 70px 0px;
}
.sidebar-left {
    padding-left: 0px;
    padding-right: 40px;
}
.member-card {
    background:white;
}

.member-card-header {
    color:white;
    background:#48a0dc;
    padding:0px 20px 20px 20px;
    text-align:center;
}
.member-card-avatar {
    display:inline-block;
    border-radius:100%;
    overflow:hidden;
    border:5px solid rgba(255, 255, 255, 0.4);
    width:90px;
    height:90px;
    margin-top:-30px;
    margin-bottom:10px;
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.16);
    transition:all 0.4s;
}
.member-card-avatar:hover { border:5px solid rgba(255, 255, 255, 0.8); }
.member-card-header h3 { font-size:20px; color:white; }
.member-card-header p { font-size:13px; }

.member-card-content { text-align:center; position:relative; }
.member-card-content .hex { margin-top:-17px; position:absolute; margin-left:-45px; }
.member-card-content ul { position:relative; z-index:10; }
.member-card-content ul li.active a { border-right:2px solid #48a0dc; color:#48a0dc; font-weight:700; }
.member-card-content ul li a { text-align:left; border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:16px 20px 13px 20px; display:block; color:#3a464e; }
.member-card-content ul li a:hover { background:#deebf2; }
.member-card-content ul li .icon { margin-right:7px; }

/** PROFILE **/
.profile-avatar { max-width:100%; height:auto; margin-bottom:15px; }
.edit-avatar .button { margin-bottom:25px; }
.user-profile .button .small {
    padding: 6px 23px 6px 23px;
    font-size: 12px;
}
input.border, select.border, textarea.border, .form-block.border .chosen-container .chosen-single, .form-block.border .chosen-container .chosen-drop {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.user-profile input, textarea, select {
margin-bottom: 10px;
}
.divider {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;

}
.user-profile .button-icon {
    position: relative;
    padding-left: 56px !important;
    padding-right: 25px !important;
}
.user-profile .button-icon .fa {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    height: 100%;
    width: 38px;
    text-align: center;
    padding-top: 13px;
    font-size: 13px;
}
.user-profile .button, .user-profile input[type="submit"] {
    font-family: 'Raleway', Helvetica, Arial;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 25px 5px 25px;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: #48a0dc;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}
/** MY PROPERTIES **/
.user-profile table{
    background-color: #fff;
    border: 0px solid #07AA9C !important;
    border-collapse:collapse;
    border-radius:4px;
}
.user-profile table td, th{
    border: none !important;
}
.my-properties-list tr { height:140px; border:none !important; border-bottom:1px solid #cbdfea !important; }
.my-properties-list tr:first-child { height:50px; }
.my-properties-list th { font-size:13px; }
.my-properties-list .property-img { width:15%; padding-right:20px; display:table-cell; }
.my-properties-list .property-title { width:28%; margin:0; padding:0; border:none; }
.my-properties-list .property-title .property-address { margin-top:3px; color:#9bb3c7; font-size:13px; margin-bottom:15px; }
.my-properties-list .property-post-status { width:15%; }
.my-properties-list .property-post-status .button.small { font-size:11px; padding:5px 10px; }
.my-properties-list .property-date { width:15%; }
.my-properties-list .property-actions { width:27%; }
.my-properties-list .property-actions a { font-size:13px; padding-left:7px; padding-right:7px; }

/** FAVORITE PROPERTIES **/
.favorite-properties-list .property-img { width:20%; padding-right:4%; }
.favorite-properties-list .property-title { width:55%; }
.favorite-properties-list .property-actions { width:25%; }



/* Billing info Initialization*/

.billing.dz-clickable {
    cursor: pointer;
}
.billing {
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    padding: 20px 20px;
    margin:10px !important;
}
.billing, .dropzone * {
    box-sizing: border-box;
}
.billing {
    border: 2px dashed #b6c2c9 !important;
    background: #fff !important;
}

.billing .dz-message {
    font-weight: 500 !important;
    color: #242a30 !important;
    font-size: 24px !important;
    text-align: center !important;
    margin: 45px 0 !important;
}

.billing .dz-message .dz-note {
    font-size: 14px !important;
    font-weight: 300 !important;
    display: block !important;
    margin-top: 5px !important;
    color: #707478 !important;
}



.billing-action{
    padding-bottom: 10px;
}


/*
Site Visits Modal
 */
.booked-modal {
    margin-top: -84px;
    min-height: 168px;
    position: fixed;
    z-index: 9999999;
    right: 0;
    bottom: 0;
    left: 0;
}
.booked-modal .bm-overlay {
    animation: booked-fadein 0.2s;
    -webkit-animation: booked-fadein 0.2s;
    -moz-animation: booked-fadein 0.2s;
    -ms-animation: booked-fadein 0.2s;
    -o-animation: booked-fadein 0.2s;
    -webkit-backface-visibility: hidden;
    position: fixed;
    background: #000;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.booked-modal .bm-window {
    animation: booked-flyin 0.2s;
    -webkit-animation: booked-flyin 0.2s;
    -moz-animation: booked-flyin 0.2s;
    -ms-animation: booked-flyin 0.2s;
    -o-animation: booked-flyin 0.2s;
    -webkit-backface-visibility: hidden;
    width:470px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 60px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 60px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 60px rgba(0,0,0,0.5);
}
.booked-modal .bm-window .booked-scrollable {

    padding: 25px 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: content-box;
}
.booked-modal .bm-window p.booked-title-bar {
    box-sizing: border-box;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    width: 100%;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 15px 30px 15px 15px;
    background: #07AA9C;
}
.booked-modal .bm-window p.booked-title-bar small {
    margin: 0;
}
.booked-modal .bm-window p small {
    display: block;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.booked-modal .bm-window .close {
    line-height: 1;
    color: #fff;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    position: absolute;
    top: 11px;
    right: 14px;
}
.booked-modal .bm-window a {
    text-decoration: none;
}
.booked-appointments {
    background: #fff;
    padding: 10px 16px 13px;
    margin: 0 0 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.booked-appointment-details:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
.booked-appointment-details {
    margin: 0 0 10px;
    padding: 0 0 7px;
    border-bottom: 1px solid #ddd;
}
.booked-modal .bm-window p.appointment-info {
    font-size: 15px;
    margin: 0;
    line-height: 1.7;
}
.field {
    margin: 5px 0 7px;
}
.field label.field-label {
    cursor: default;
    display: block;
    font-weight: bold;
    padding: 10px 0 8px;
}
.required-asterisk {
    color: #E35656;
    margin: -1px 0 0 7px;
}
.field p.field-small-p {
    font-size: 14px;
    margin: -5px 0 5px;
}
.bm-window p {
    margin: 0 0 15px;
    font-size: 15px;
}
.booked-modal .field input[type="text"]{  font-size: 13px;
    padding: 7px 10px;
    color: #aaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.booking input.button-primary[type="submit"]
{
    border-color: #07AA9C !important;
}
.booked-modal input.button-primary[type="submit"]{
    background: #07AA9C !important;
    font-size: 12px;
    display: inline-block;
    padding: 0 12px;
    background: #eee;
    color: #fff;
    line-height: 30px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}
.booking button {
    float: left;
    margin: 0 10px 0 0;
}
.modal-open .modal {
overflow-y: hidden !important;
}


/*
Company Page-About Us,Careers,FAQ,Privacy policy,Team
 */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}
.page-head-company {
    font-family: Averta Web,Averta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #ffffff;
   font-size: 38px;
    width: 45%;
    text-align: center;
    font-weight: 600;
}
.page-container-company{
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
    padding-left: 20px;
    padding-right: 20px;
}
.padding-V40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.text-heading {
    font-size: 28px !important;
    font-family: Averta Web,Averta,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    color: #07AA9C;
    border-bottom: 1px solid #1A7B6F;
    border-bottom-color: #1A7B6F;

}

.text-heading-inner {
    font-family: Averta Web,Averta,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    color: #2e2f31;

}
.text-heading-small {
    font-family: Averta Web,Averta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #2e2f31;
    text-rendering: optimizeLegibility;
    color: #07AA9C;
    border-bottom: 1px solid #cccccc;

}
.font-size-26, h2 {
    font-size: 26px;
    line-height: 1.3;
}
.font-size-28, h2 {
    font-size: 28px;
    line-height: 1.3;
    padding: 5px;
}
.font-size-18, h2 {
    font-size: 18px;
    line-height: 1.3;
    padding: 5px;

}

.font-size-12, h2 {
    font-size: 14px;
    line-height: 1.3;
    padding: 5px;
    font-weight: bold;

}
.padding-T33 {
    padding-top: 33px;
}
.padding-T45 {
    padding-top: 45px;
}
.grid {
    display: inline-block;
    padding: 0;
    margin: 0 -10px;
    text-align: left;
    font-size: 0;
}
.grid__cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 10px;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.bp768-size-1of3, .bp768-size-2of6, .bp768-size-3of9, .bp768-size-4of12 {
    width: 33.33333%;
}
.bp768-size-2of3, .bp768-size-4of6, .bp768-size-6of9, .bp768-size-8of12 {
    width: 66.66667%;
}
.margin-B40 {
    margin-bottom: 40px;
}
.margin-T20 {
    margin-top: 20px;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.padding-V40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.font-size-20, h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.margin-B12 {
    margin-bottom: 12px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}


.btn-hollow{
    border: 1px solid #07AA9C;
    color: #07AA9C;
}

/**Press**/
.color-medium-gray {
    color: #86878a;
}
.text-align-right {
    text-align: right;
}
.pull-end {
    float: right;
}

.article-title a{
    color:#07AA9C !important;
}
/*Team */

.pane-list {
    margin: 0;
    margin-bottom: 50px;
    list-style: none
}

.pane-list .pane-list-item.large-3 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.pane-list .pane-list-item.large-3:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.pane-list .pane-block {
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px hidden #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}

.pane-list .pane-block:hover .pane-content-link a {
    color: #00a84f !important
}

.pane-list .pane-block .pane-image-small {
    height: auto;
    max-height: 117px;
    overflow: hidden
}

.pane-list .pane-block .pane-image-medium {
    height: auto;
    max-height: 250px;
    overflow: hidden
}

.pane-list .pane-block .pane-image-large img {
    display: block
}

.pane-list .pane-content h2 {
    font-size: 16px;
    color: #00a84f;
    font-weight: 400;
    margin-bottom: 0
}

.pane-list .linkItem {
    position: absolute;
    right: 0;
    bottom: 0
}

.pane-list .linkItem a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 9px 26px 9px 20px;
    background: #00a84f url(https://www.safaricom.co.ke/templates/safaricommain/images/icons/arrow_right_w.png?Lo0P=1f85ec0be2fd55f4a643d51ee077e7f2) no-repeat 92% 11px;
    display: none
}

.pane-list .linkItem a:hover {
    opacity: 0.9
}

.pane-list .pane-title {
    font-size: 18px;
    padding: 8px 15px;
    color: #00a84f
}

.pane-list .pane-link-items {
    list-style: none
}

.pane-list .pane-link-items ul {
    margin-left: 0
}

.pane-list .pane-link-items li {
    border-top: 1px solid #cbcbcb;
    list-style: none
}

.pane-list .pane-link-items li a {
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    color: #656565;
    font-size: 13px;
    background-image: url(https://www.safaricom.co.ke/templates/safaricommain/images/icons/arrow_right.png?Lo0P=fbf328c49da72609b279c1527ec960ae);
    background-repeat: no-repeat;
    background-position: 95% 10px
}

.pane-list .pane-link-items li a:hover {
    background-image: url(https://www.safaricom.co.ke/templates/safaricommain/images/icons/arrow_right_n_hover.png?Lo0P=0acb9eac20361849d72680d2c58aacc9);
    color: #00a84f
}

.pane-list .pane__items--all {
    border-top: 1px solid #cbcbcb;
    padding: 8px 15px
}

.pane-list .pane__items--all a {
    display: inline-block;
    text-decoration: none;
    color: #00a84f;
    font-size: 12px
}

.pane-list .pane__items--all a:hover {
    text-decoration: underline
}

.pane-list .pane-content-link a {
    display: inline-block;
    color: #656565;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px
}

.content-team ul {
    list-style: none;
    margin: 0 !important
}

.content-team .pane-list {
    margin-bottom: 25px
}

.content-team .tema-list-item {
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.content-team .tema-list-item:hover {
    z-index: 1;
    background: #fff
}

.content-team .pane-block-image {
    height: 310px
}

.content-team .image-pane {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.content-team .item-block-height .item-block-meta {
    height: 125px
}

.content-team .item-block-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    height: 88px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.1)
}

.content-team .item-block-meta h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0
}

.content-team .item-block-meta p {
    font-size: 12px;
    margin: 0
}

.content-team .item-block-meta a {
    font-weight: 300
}

.content-team .item-block-meta a:hover {
    color: #fff;
    text-decoration: none
}

.content-team .meta-content-cta {
    margin-top: 5px
}

.content-team .meta-content-cta a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    height: 25px
}

.content-team .meta-content-cta.show-caption {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    zoom: 1
}

.content-team .meta-content-cta.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .pane-list .large-6 {
        width: 100%
    }

    .pane-list .large-6 .pane-block {
        height: auto
    }

    .pane-list .large-3 {
        width: 50%
    }

    .pane-list .pane-content h2 {
        font-size: 14px
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .header-menu {
        display: none
    }

    .pane-list {
        margin-bottom: 10px
    }

    .pane-list .pane-content h2 {
        font-size: 15px
    }

    .pane-list .large-6 {
        width: 100%
    }

    .pane-list .large-6 .pane-block {
        height: auto
    }

    .pane-list .large-3 {
        width: 50%
    }

    .pane-list .pane-list-item {
        margin-bottom: 15px
    }

    .pane-list .pane-list-item li a {
        font-size: 12px;
        display: block
    }

    .pane-list .responsive-image {
        background: rgba(0, 0, 0, 0.1)
    }

    .pane-list .responsive-image .image-replace {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width: 768px) {
    .pane-list {
        margin-bottom: 10px
    }

    .pane-list .large-3 {
        width: 50%
    }

    .pane-list .large-6 {
        width: 100%
    }

    .pane-list .large-6 .pane-block {
        height: auto
    }

    .pane-list .responsive-image {
        background: rgba(0, 0, 0, 0.1)
    }

    .pane-list .responsive-image .image-replace {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto
    }

    .pane-list-item {
        margin-bottom: 15px
    }

    .content-team .large-4 {
        width: 50%
    }
}

@media only screen and (max-width: 568px) {
    .pane-list {
        margin-bottom: 10px
    }

    .pane-list .large-6, .pane-list .large-3 {
        width: 100%
    }

    .pane-list .large-6 .pane-block, .pane-list .large-3 .pane-block {
        height: auto
    }

    .content-team .large-4 {
        width: 100%
    }
}
.image-container img{
    width:310px !important;
    height: 310px !important;
}